@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-image: url("../media/outerbackground.jpg");
  background-repeat: repeat;
  background-color: gray;
  text-align: center;
  font-size: 120%;
  font-family: "Arsenal", Times New Romen, sans-serif;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.6;
}

.homepage-wrapper {
  background-color: #7d1a1e;
  width: 60%;
  margin: auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

nav ul {
  background-image: url("../media/banner.jpg");
  text-align: center;
  background-color: red;
  padding: 15px;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  font-family: "Arsenal", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 120%;
}
nav a:hover {
  color: #FFFFFF;
  font-size: 1.2em;
  text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF;
}
.text{
  background-image: url("../media/banner.jpg");
  font-family: "Segoe Ui", sans-serif;
  margin: 5%;
  float: left;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.3); 
}
.intro, .hobbies{
  width: 50%;
  float: right;
  padding: 20px;
}
.gallery {
  background-image: url("../media/banner.jpg");
  font-family: "Segoe Ui", sans-serif;
  margin: 5%;
  display: inline-block;
  width: 90%;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.gallery img {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: auto;
  margin: 1%;
  border-radius: 6px;
  border: 3px solid red;
}

.resume-wrapper {
  background-color: #7d1a1e;
  width: 60%;
  margin: auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow: hidden;
}

.column1, .column2{
  padding: 5%;
}

.drawing img{
  border-radius: 50%;
}
.column1 {
  background-color: #421515;
  width: 35%;
  float: left;
}

.column2 {
  background-color: #7d1a1e;
  width: 65%;
  float: right;
}

a {
  color: #e6c76b;
}

.portfolio-wrapper {
  background-color: #7d1a1e;
  width: 60%;
  margin: auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.images {
  background-image: url("../media/banner.jpg");
  display: inline-block;
  margin: 5%;
  width: 90%;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.images img, .images video{
  display: inline-block;
  width: 45%;
  margin: 1%;
  height: auto;
  border-radius: 6px;
  border: 3px solid red;
}

.maps-wrapper {
  background-color: #7d1a1e;
  width: 60%;
  margin: auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.map-buttons button {
  font-family: "Arsenal", Times New Romen, sans-serif;
  background-color: #3e0d0f;
  padding: 2%;
  margin: 1%;
  border: none;
  background: #3e0d0f;
  border-radius: 40% 60% 30% 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.map-buttons button a:hover {
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF;
}

@media (max-width: 900px) {
  .maps-wrapper, .homepage-wrapper, .resume-wrapper, .portfolio-wrapper {
    width: 100%;
  }
  .images img, .images video{
    width: 100%;
  }
  .map-buttons button {
    width: 60%;
    font-size: 100%;
  }
  nav a {
    font-size: 90%;
  }
  .gallery img {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .maps-wrapper, .homepage-wrapper, .resume-wrapper, .portfolio-wrapper {
    width: 70%;
  }
  .images img, .images video{
    width: 40%;
  }
  nav a {
    font-size: 90%;
  }
  .gallery img {
    width: 40%;
  }
  .drawing img{
    border-radius: 40%;
  }
}
